.root {
    
}
.img {
    height : auto;
    width : 30vw;
}
@media screen and (max-width: 1000px) {
    .img {
       height: auto;
       width : 30vw;
    }
  }

  @media screen and (max-width: 550px) {
    .img {
       height: auto;
       width : 30vw;
    }
  }

.par {
   margin-bottom : 0
}