.pricingCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 15rem;
  }
  
  .pricingCard:hover {
    transform: scale(1.05);
  }
  
  .price {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
  }
  
  .features {
    list-style: none;
    padding: 0;
  }
  
  .features li {
    margin: 8px 0;
  }
  
  .purchaseButton {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .purchaseButton:hover {
    background-color: #45a049;
  }
  

  @media screen and (max-width: 700px) {
    .pricingCard {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: auto;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      width: auto;
    }


    .pricingCard:hover {
      transform: scale(1.05);
    }
    
    .price {
      font-size: 1rem;
      color: #333;
      margin: 10px 0;
    }
    
    .features {
      list-style: none;
      padding: 0;
    }
    
    .features li {
      margin: 8px 0;
    }
    
    .purchaseButton {
      background-color: #4caf50;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
    }
    
  }