.root {
    // align-itrems: center;
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid #FFB312;
}

.logo {
   padding-top: 2.5rem;
}

.logoimg {
    width : 10rem;
     height : 10rem;
}


.herotitle {
    font-size: 4.7rem; /* Set your desired font size */
    color : #FF2100;
    padding-top: 0.5rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.herotitle2 {
    font-size: 3.8rem; /* Set your desired font size */
    color : #181818;
    font-weight: bolder;
    padding-top: 2.5rem;
   
}

.herotitle3 {
    font-size: 3rem; /* Set your desired font size */
    color : #181818;
    padding-top: 5em;
    padding-bottom: 5em;
    
}
.herotitle3 a {
    color : #FFB312;
    text-decoration: none;
    background-color: #FF2100;
    padding: 0px 10px;
}

.herotitle3 a:hover {
    color: #0060FF;
    text-decoration: underline #0060FF;
}



