

.nav {
    background-color: #d0d0d0;
}


.navbtn:hover {
    color: #0060FF;
    text-decoration: underline #0060FF !important;
}

.signUp {
    background-color: red;
    color: white;
    margin-left : 0;
}


.navbtn {
    text-decoration: none !important;
    margin : 0 0.5rem;
    padding: 1rem;
    color : #181818;
    // background-color: #0060FF;
}




.root {
    border-bottom: 5px solid #FFB312;
}