.root {
    justify-content: center;
    text-align: center;
    margin: auto;
    border-bottom: 5px solid #FFB312;
    background-color: #181818;
    padding-bottom: 5rem;
    
    color: #d0d0d0;
    
}

.title {
    padding-top: 5rem;
    margin-bottom: 5rem;
}

.title h1 {
    font-size: 4.7rem;
    
    color: #d0d0d0;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.carouselImage img {
    height : 15rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}