.root {
    height: 65rem;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-bottom: 5px solid #FFB312;
}

.carousel{
    height: 50vh;
    justify-content: center;
    text-align: center;
    background-color : black;
     color : white;
      height : 15vh;
}

.title {
    font-size: 4.7em;
    padding-top: 1em;
    color : #d0d0d0;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

