.root {
    height: 50vh;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.carousel{
    height: 50vh;
    justify-content: center;
    text-align: center;
    background-color : black;
     color : white;
      height : 15vh;
}

.title {
    font-size: 4.7em;
    padding-top: 1em;
}

