.root {
    justify-content: center;
    text-align: center;
    margin: auto;
    background-image: url("src/assets/footer.png");
    padding-bottom: 3rem;
    color: #d0d0d0;
    
}

.title {
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-family: 'Mulish' , fallback;
}

.title h1 {
    font-size: 2.7rem;
    
    color: #ff2200;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.container {
    display: flex;
    justify-content: center;
}
.icon {
     margin-top: 1.5rem;
}

.icon svg {
    height : 3.5rem;
    filter : invert(90%);
}