.root {
    justify-content: center;
    text-align: center;
    margin: auto;
    background-image: url("src/assets/footer.png");
    padding-bottom: 3rem;
    color: #d0d0d0;
}

.title {
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 3.5rem;
    
    color: #ff2200;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.container {
    display: flex;
    justify-content: center;
}
.icon {
    margin: 0 1rem;
}

.icon svg {
    height : 4rem;
    filter : invert(90%);
}