body {
  /* background-color: #181818; */
}

@media screen and (max-width: 500px) {
  html {
      font-size: 9px;
  }
}

@media screen and (max-width: 800px) {
  html {
      font-size: 11px;
  }
}

@font-face {
  font-family: 'Mulish';
  src: url('src/assets/fonts/mulish/static/Mulish-Regular.ttf') format('truetype');
}